<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick y Morthy</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>
<body>
    <div class="app">
        <div class="personajes">
            <div class="tarjeta-personaje" v-for="personaje in personajes" :key="personaje.id">
                <h3>{{ personaje.name }}</h3>
                <p>Género: {{ personaje.genero }}</p>
                <button @click="mostrarDetalles(personaje)">Ver Detalles</button>
            </div>
        </div>
        <div class="modal" v-if="mostrarModal">
            <div class="contenido-modal">
                <h2>{{ personajeSeleccionado.name }}</h2>
                <p>Género {{ personajeSeleccionado.gender }}</p>
                <button @click="cerrarModal">Cerrar</button>
            </div>
        </div>
    </div>
    
    <script src="main.js"></script>
</body>
</html>