<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick y Morthy</title>
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>
<body>
    <div id="#app">
        <h1>Personajes de Rick y Morty</h1>
        <div class="personajes">
            <div class="tarjeta-personaje" v-for="personaje in personajes" :key="personaje.id">
                <h3>{{ personaje.name }}</h3>
                <p>Género: {{ personaje.gender }}</p>
                <button @click="mostrarDetalles(personaje)">Ver Detalles</button>
            </div>
        </div>
        <div class="modal" v-if="mostrarModal">
            <div class="contenido-modal">
                <h2>{{ personajeSeleccionado.name }}</h2>
                <p>Género: {{ personajeSeleccionado.gender }}</p>
                <p>Estado: {{ personajeSeleccionado.status }}</p>
                <p>Especie: {{ personajeSeleccionado.species }}</p>
                <button @click="cerrarModal">Cerrar</button>
            </div>
        </div>
    </div>
</body>
</html>