<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes de Rick y Morty</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <header>
            <h1>Personajes de Rick y Morty</h1>
        </header>
        <main>
            <div id="lista-personajes" class="lista-personajes">
                <div v-for="personaje in personajes" :key="personaje.id" @click="abrirModal(personaje)" class="personajetarjeta">
                    <h2>{{ personaje.name }}</h2>
                    <p>Género: {{ personaje.gender }}</p>
                    <p><a href="javascript:void(0);" @click="mostrarDetalles(personaje)">Más Info</a></p>
                </div>
            </div>
            <div v-if="personajeSeleccionado" class="modal">
                <div class="modal-contenido">
                    <h2>{{ personajeSeleccionado.name }}</h2>
                    <p>Género: {{ personajeSeleccionado.gender }}</p>
                    <p>URL: {{ personajeSeleccionado.url }}</p>
                    <span class="modal-cerrar" @click="cerrarModal">&times;</span>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
